
/*          Index Page UI       */

.main-container{
	display: flex;
	width: 100%;
}

.cover-overlay {
    position: absolute;
    z-index: 2;
    opacity: .9;
    width: 100%;
    height: 90%;
    background: #000;
}

.cover-container{
    position: absolute;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0 3rem 0;
    background: url("../images/wallpapers/freedom-concept.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-text{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.cover-text-heading{
    font-size: 4.0rem;
    font-family: Hallelujah;
    color: #FFF;
}

.cover-text-subtext{
    font-size: 1.1rem;
    font-family: sans-serif;
    color: #FFF;
}

.cover-text #misfits{
    font-style: italic;
    border-bottom: 1.5px solid #FFF;
}

.cover-text #belong{
    font-size: 4.8rem;
    font-family: Satisfy;
    align-items: center;
    margin: 0 auto;
}

.blog-link{
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 15rem;
    border-radius: 2rem;
    height: 4rem;
    border: 1px solid #9B29A5;
    background: #9B29A5;
    color: #FFF;
}

.fa-arrow-alt-circle-right{
    font-size: 1.3rem;
     margin-left: .4rem;
}

.footer{
    display: none;
}