/*			main app UI				*/

html{
	font-size: 15px !important;
}
a{
	text-decoration: none;	
}
a:hover{
	text-decoration: none !important;

}

body{
	width: 100%;
}

::selection{
	background: #9B29A5;
	color: #FFF;
}

.color-overlay {
	display: none;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
	background: #000;
	opacity: .5;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
	width: 100%;
	height: 4.1rem;
	padding: 1rem;
	position: relative;
	z-index: 3;
}

.logo a{
	font-family: 'Give You Glory';
	color: #000 !important;
	font-size: 2.4rem;
	margin-left: 3rem;
}

.outcast-logo{
    color: #9B29A5 !important;
    transform: translateX(.5rem);
}

.outcast-logo:hover{
    color: #000 !important;
}
.logo a:hover{
	color: #000 !important;
}

.right-nav{
	display: flex;
	flex-direction: row;
    margin-right: 0rem;
}

.links{
    display: flex;
	flex-direction: row;
	margin: .3rem 2.5rem 0 0;
}

.links li, .dropdown-links li{
    font-size: 1.4rem;
    font-weight: 550;
    list-style: none;
    margin-right: 2.3rem;
    transition: ease-in .2s;
}

.links li:hover, .links li a:hover, .dropdown-links li:hover{
	color: #9B29A5;
}

.links a, .dropdown-links a{
    color: #000;
}

#active-link{
    color: #9B29A5;
    transition: ease-in .2s;
}

#active-link:hover{
    color: #000;
}

.nav-login-a{
	margin-top: .4rem;
}

.nav-login-btn{
	margin-top: 1rem;
	border-radius: 2rem;
	border: 1px solid  #9B29A5;
	color: #9B29A5;
	width: 5rem;
	font-size: 1.2rem;
	padding: .4rem 1.5rem;
	transition: ease .5s;
}

.nav-login-btn:hover{
	border: 1px solid  #9B29A5;
	color: #FFF;
	background-color: #9B29A5;
}

.hamburger-icon{
	border: 1px solid #000;
	width: 2.7rem; height: 2.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.hamburger-icon i{
	font-size: 2rem;
	color: #000;
	cursor: pointer;
}

.dropdown-nav{
	display: none;
	flex-direction: column;
	border: 1px solid #C8C8C8;
	height: 100%;
}

.dropdown-links{
	padding-left: 0;
	margin-bottom: 0;
}

.dropdown-links li{
	padding: .6rem 0 .6rem 1rem;
	margin-right: 0;
	font-size: 1.2rem;
	border-bottom: 1px solid #C8C8C8;
	border-left: .3rem solid #292929;
}

#active-link-dropdown{
	color: #9B29A5;
	border-left: .3rem solid #9B29A5;
}
#active-link-dropdown:hover{
	color: #000;
	border-left: .3rem solid#292929;
}
.dropdown-links li:hover{
	border-left: .3rem solid #9B29A5;
}

.footer{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	height: 2.0rem;
}


.copyright {
    display: flex;
    flex-flow: row;
    height: 35px;
    padding-top: 0px;
    margin-top: 30px;
    align-self: center;
}

.copyright p {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #111;
    font-size: 0.9rem;
}
.copyright-dot {
    margin: 0 0.3rem 0 0.5rem;
}

.copyright i {
    color: #f0f;
    font-size: 1rem;
}

#ht {
    color: #5ca7f7 !important;
}

@media only screen and (max-width: 992px){
	.logo a{
		font-size: 2.1rem;
		margin-left: 1rem;
	}
	
	.links{
		display: flex;
		flex-direction: row;
		margin: .3rem 2rem 0 0;
	}
	.links li{
		margin-right: 1rem;
	}
}


@media only screen and (max-width: 768px){
	.hamburger-icon{
		display: flex;
	}
	.links{
		display: none;
	}
	
	.nav-login-a{
		display: none;
	}
}

@media only screen and (max-width: 576px){
	.logo a{
		font-size: 2rem;
		margin-left: 1rem;
	}

	.footer {
        padding-bottom: 1.3rem;
    }

    .copyright p {
        flex-direction: column;
    }

    .copyright-dot {
        display: none;
    }
}